@import "src/styles/_variables.scss";

.client {
    padding: 0px 20px;
    height: 100px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
        width: calc(100% - 60px);
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .right {
        width: 60px;
    }

    .imageContainer {
        min-width: 60px;
        width: 60px;

        svg {
            width: 100%;
        }

        &.present svg path {
            fill: $green;
        }

        svg path {
            fill: $red;
        }
    }
    .imageUsername {
        display: none;
        width: 20px;
        svg {
            width: 100%;
        }

        &.present svg path {
            fill: $green;
        }

        svg path {
            fill: $red;
        }
    }

    .infoContainer {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;

        .userName {
            width: calc(25% - 2px);
            padding: 16px 30px;

            div:first-child {
                width: 100%;
                color: $black;
                font-weight: 700;
                font-size: 1.1rem;
                margin-bottom: 10px;
            }
            div:last-child {
                width: 100%;
                color: $grey;
                font-weight: 300;
            }
        }

        .ticketId {
            width: calc(32% - 2px);
            padding: 16px 30px;
            overflow-wrap: break-word;

            div:first-child {
                color: $black;
                font-size: 0.9rem;
                margin-bottom: 10px;
            }
            div:last-child {
                color: $grey;
                font-weight: 300;
            }
        }

        .ticketNumber {
            width: calc(29% - 2px);
            padding: 16px 30px;

            div:first-child {
                color: $black;
                font-size: 0.9rem;
                margin-bottom: 10px;
            }
            div:last-child {
                color: $grey;
                font-weight: 300;
            }
        }
    }

    .actions {
        min-width: 60px;
        background-color: transparent;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        transition: 0.2s ease;
        border-radius: 10px;
        &:hover {
            background-color: $lightgrey;
        }
    }

    .verticalDivisor {
        height: 60%;
        width: 1px;
        background-color: lightgray;
    }
}

@media (max-width: $tablet-width) {
    .client {
        padding: 10px 0px;
        height: auto;
        .infoContainer {
            .userName {
                width: calc(25% - 2px);
                padding: 10px 10px;
            }
            .ticketId {
                width: calc(45% - 2px);
                padding: 10px 10px;
            }
            .ticketNumber {
                width: calc(29% - 2px);
                padding: 10px 10px;
            }
            .imageUsername {
                display: none;
            }
            .verticalDivisor {
                display: none;
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .client {
        padding: 10px 0px;
        height: auto;

        .imageContainer {
            display: none;
        }
        .infoContainer {
            max-width: calc(100% - 60px);
            padding: 0px;
            flex-direction: column;
            .userName {
                width: 100%;
                padding: 0px;
            }
            .ticketId {
                width: 100%;
                padding: 0px;
            }
            .ticketNumber {
                width: 100%;
                padding: 0px;
            }
            .verticalDivisor {
                display: none;
            }
            .imageUsername {
                display: inline-block;
                width: 40px;
                svg {
                    width: 50px;
                }
            }
        }
        .actions {
            min-width: 60px;
        }
    }
}
