/* COLORS */
$white: #fff;
$black: #101b29;
$light-grey: #efefef;
$grey: #858b94;
$red: #e93256;
$green: #7fba7a;

/* HEIGHTS */
$header-height: 80px;
$header-margin-height: 50px;
$bottom-distance: 130px;
