@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.page {
    width: 100%;
    background-color: purple;
    width: 100%;
    max-width: 1400px;
    margin: auto auto;
    height: 95vh;
    overflow-y: scroll;
    border-radius: 10px;
    margin-top: 2.5vh;
    overflow: hidden;
}
