@import "src/styles/_variables.scss";

.modalOverlay {
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    overflow: hidden;

    &.visible {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.37);
        position: fixed;

        display: block;

        .modal {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        button {
            background-color: white;
            border: none;
            height: 80px;
            width: 50px;
            cursor: pointer;
            font-size: 28px;
            position: absolute;
            right: 10px;
            border-radius: 20px;
        }
    }
}

@media (max-width: $mobile-width) {
    .modalOverlay {
        overflow-y: scroll;
        &.visible {
            .modal {
                position: absolute;
                left: 50%;
                top: 0%;
                transform: translate(-50%, 16px);
            }
        }
    }
}
