@import "src/styles/_variables.scss";

.header {
    height: $header-height;
    margin-bottom: $header-margin-height;
    overflow: hidden;

    h1 {
        margin: 0px;
        color: $black;
    }
    h3 {
        color: $grey;
        margin: 10px 0px;
        font-weight: normal;
    }

    .buttons {
        float: right;
        button {
            padding: 10px 16px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: white;
            border: none;
            border-radius: 10px;
            opacity: 0.6;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            div {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: $tablet-width) {
    .header {
        padding-top: 14px;
        h1 {
            font-size: 1.6rem;
        }
        h3 {
            font-size: 1rem;
        }
        .buttons {
            button {
                padding: 5px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .header {
        padding-top: 14px;
        height: auto;
        margin-bottom: 10px;
        h1 {
            font-size: 1.4rem;
        }
        h3 {
            font-size: 1rem;
        }
        .buttons {
            float: left;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 0px;
            button {
                padding: 5px;
                margin-right: 10px;
            }
        }
    }
}
