@import "src/styles/_variables.scss";

.header {
    height: $header-height;
    margin-bottom: $header-margin-height;
    overflow: hidden;

    h1 {
        margin: 0px;
        color: $black;
    }
    h3 {
        color: $grey;
        margin: 10px 0px;
        font-weight: normal;
    }
}
