.svgSize {
    width: 36px;
    background-color: transparent;
    margin-left: 10px;
}
.white {
    fill: #fff;
}
.black {
    fill: #101b29;
}
.strokeWidth1 {
    stroke: #101b29;
    stroke-width: 2px;
}
.fillNone {
    fill: none;
}
.strokeNone {
    stroke: none;
}
.strokeLinecap {
    stroke-linecap: round;
}
.fs20 {
    font-size: 20px;
}
.ticketColor {
    fill: #101b29;
}
